* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color1: #501F3A;
    --color2: #0F292F;
    --color3: #CB2D6F;
    --color4: #14A098;
    --color5: #CCCCCC;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color1);
    color: var(--color4);
}

nav {
    width: 100%;
    height: 48px;
    background-color: var(--color2);
    position: fixed;
    display: block;
    margin: 0;
    z-index: 999;
}

ul {
    margin-left: 64px;
    height: 100%;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 48px;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color4);
    padding: 0 20px;
    display: block;
}

ul li a:hover {
    /*background-color: #1f4443;*/
    background-color: var(--color2);
    filter: brightness(150%);
}

.left-field {
    display: block;
    position: fixed;
    min-height: 100vh;
    margin: 48px 0 0 0;
    width:360px;
    height:auto;
}

.event-list {
    margin: 0 auto 0 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: calc(100% - 360px);
    padding-top: 48px;
}

.container {    
    display: block; 
    background-color: var(--color2);
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    width:fit-content;
    margin: 16px;
    padding: 30px;
}

.event-view-box {
    min-width: 600px;
    max-width: 600px;
}

.header {
    margin: 0;
    padding: 20px 20px;
    color: inherit;
    border-bottom: 3px solid #1f4443;
}

.form {
    padding: 20px 0;
    color: inherit;
}

.form-event {
    padding: 20px 0;
    color: inherit;
    width: 600px;
}

.form-event .form-left {
    display: inline-block;
    width: 48%;
    z-index: 100;
}

.form-event .form-right {
    position: relative;
    display: inline-block;
    width: 48%;
    float: right;
    z-index: 99;
}

.form-control {
    margin-bottom: 0px;
    padding-bottom: 20px;
    position: relative;  
}

.form-control label {
    display: inline-block;
    margin-bottom: 8px;
}

.form-control input {
    border: 3px solid var(--color3);
    border-radius: 8px;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: var(--color2);
    color: var(--color4);
}

/*.form-control input:required + span:after {
    color:var(--color3);
    font-size: 16px;
    content:"*";
}*/

.form-control ::placeholder {
    color: var(--color4);
}

.custom-file-upload {
    background-color: #415f5f;
    border: 2px solid var(--color3);
    color: #c6cfcf;
    display: inline-block;
    width: 50%;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    margin-bottom: 24px;
}

.form-control textarea {
    border: 3px solid var(--color3);
    color: var(--color4);
    background-color: var(--color2);
    border-radius: 8px;
    display: block;
    font-family: inherit;
    width: 100%;
    height: 160px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

button {
    background-color: var(--color4);
    border: 2px solid var(--color4);
    color: var(--color2);
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    margin-bottom: 24px;
    cursor: pointer;
}

button:hover {
    filter: brightness(150%);
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success textarea {
    border-color: #2ecc71;  
}

.form-control.error textarea {
    border-color: #e74c3c;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;    
}

.form-control.success small {
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}

.success-message h4 {
    color:var(--color4);
    width: 100%;
    text-align: center;
    visibility: hidden;
}

.success-message.success h4 {
    color:var(--color4);
    visibility: visible;
}

.success-message.error h4 {
    color: red;
    visibility: visible;
}

.event-box {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
}

.event-box .form-link-btn {
    width: auto;
    display: block;
}

.event-box .link-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--color4);
    padding: 16px 32px;
    margin: 0px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

.event-item-header {
    width: auto;
    display: block;
}

.event-item-header h3 {
    width: 100%;
    font-size: 20px;
    display: inline-block;
    color: var(--color4);
    margin: 0;
    padding: 16px 0;
    text-align: center;
}

.event-box .link-btn:hover {
    filter:brightness(150%);
}

.event-box p {
    color: var(--color4);
    padding: 20px 20px;
    margin: 0;
    display: block;
    width: auto;
    background-color: var(--color2);
    border-radius: 8px;
    border: 3px solid var(--color3);
    font-size: 14px;
    margin-bottom: 16px;
}
  
  .event-box small {
    color: var(--color5);
    padding: 8px 24px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.event-view-box {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
}

#event-view-main {
    margin: 20px 0;
}

#event-view-lowmid {
    margin: 20px 0;
}

#event-view-low {
    margin: 20px 0;
}

.event-view-box p {
    color: var(--color4);
    padding: 20px 20px;
    margin: 0;
    display: block;
    width: auto;
    background-color: var(--color2);
    border-radius: 8px;
    border: 3px solid var(--color3);
    font-size: 14px;
}
  
  .event-view-box small {
    color: var(--color5);
    padding: 8px 24px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

#mapid {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 24px;
}