* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background1:  rgba(70,52,78, 0.8);
    --background2: rgba(90,85,96,0.3);
    --background3: rgba(90,85,96,0.6);
    --background4: #1f4443;
    --decoration1: #9D8D8F;
    --text1: #C4B5B7;
    --text2: #ECD50F;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: var(--background1);*/
    color: var(--text1);
}

#background-box {
    width: 100vw;
    height: 100%;
    min-width:1200px;
    min-height:1080px;
    background-image: url("../img/background2.png");
    background-size: 110%;
    position:fixed;
    top:0;
    left:0;
    z-index: -100;
}

#header-mid {
    margin: 0 auto;
    width: 960px;
    height: 48px;
    top: 0;
}

#logo-field {
    display: block;
    position: fixed;
    bottom: 0;
    margin: 0 600px 0 auto;
    width: 360px;
}    

#logo-field img {
    max-width: 50%;
    padding: 10px;
    height: auto;
    display: flex;
    margin: 0 180px 0 auto;
}

/* ======== NAVIGATION BAR ======== */

nav {
    width: 100%;
    height: 48px;
    background-color: black;
    position: fixed;
    display: block;
    margin: 0;
    z-index: 999;
}

ul {
    margin-left: 64px;
    height: 100%;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 48px;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text1);
    padding: 0 20px;
    display: block;
}

ul li a:hover {
    background-color: var(--background1);
    filter: brightness(150%);
    color: var(--text2);
}

/* ======== MESSAGE BAR ======== */

.message-bar {
    width: auto;
    height: 48px;
    padding-right: 64px;
    right: 0;
    top: 0;
    overflow: hidden;
    display: block;
    z-index: 1000;
    position: fixed;
}

.message-bar p{
    border: none;
}

.message-bar .message {  
    display: inline-block;
    line-height: 48px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    /*font-weight: bold;*/
}

/* ======== MAIN LAYOUT ======== */

#mid-column {
    margin: 0 auto;
    padding-top: 48px;
    width: 960px;
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.left-field {
    display: block;
    position: fixed;
    min-height: 100vh;
    margin: 0 600px 0 auto;
    width: 360px;
    height: auto;
}

.event-list {
    margin: 0 auto 0 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*max-width: calc(100% - 360px);*/
    width: 600px;
}

.container {    
    display: block; 
    /*background-color: var(--background2);*/
    background-color: var(--background2);
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    margin: 16px;
    padding: 30px;
    /*opacity: 50%;*/
}

/* ======== PROFILE VIEW ======== */

.profile-view-top {
    line-height: 96px;
    text-align: justify;
    display: flex;
    flex-flow: row;
    padding: 8px 0px;
    margin: 0;
    width: auto;
    height: auto;
    border-bottom: 3px solid var(--background3);
}

.profile-view-top2 {
    line-height: 48px;
    text-align: justify;
    display: flex;
    flex-flow: row;
    padding: 8px 0px;
    margin: 0;
    width: auto;
    height: auto;
    border-bottom: 3px solid var(--background3);
    margin-bottom: 20px;
}

.profile-view-top2 h3 {
    color: var(--text2);
    padding: 0px 10px;
    margin: 0;
    width: auto;
    display: inline-block;
}

#img-approve {
    padding: 4px 4px;
    background-color: var(--background3);
    border-radius: 16px;
}

#img-approve:hover {
    filter:brightness(130%);
}

#img-deny {
    padding: 4px 4px;
    background-color: var(--background3);
    border-radius: 16px;
}

#img-deny:hover {
    filter:brightness(130%);
}

#profile-img2 {
    margin: 0;
    display:inline-block;
    max-width: 40px;
    max-width: 40px;
    border-radius:20px;
    border: 3px solid var(--background1);
    border-radius: 20px;
}

#profile-img2 {
    margin: 0;
    display:inline-block;
    max-width: 48px;
    max-width: 48px;
    border-radius:24px;
    border: 3px solid var(--background1);
    border-radius: 24px;
}

.profile-view-top img {
    margin: 0;
    display:inline-block;
    max-width: 96px;
    max-width: 96px;
    border-radius:48px;
    border: 3px solid var(--background1);
    border-radius: 48px;
}

.profile-view-top h3 {
    color: var(--text2);
    padding: 0px 10px;
    margin: 0;
    width: auto;
    display: inline-block;
}

.profile-view-main {
    margin: 0;
    background-color: var(--container2);
    border-radius: 8px;
    padding: 10px 0;
    width: auto;
    display: flex;
    line-height: 2;
    border-radius: 8px;
    overflow: hidden;
}

.profile-view-main .left-column {
    font-size: 14px;
    width: 30%;
    text-align: right;
    line-height: inherit;
    display: inline-block;
}

.profile-view-main .right-column {
    font-size: 14px;
    color: var(--text2);
    width: 70%;
    padding-left: 10px;
    line-height: inherit;
    display: inline-block;
}

/* ======== EVENT LIST ======== */

.event-view-box {
    min-width: 600px;
    max-width: 600px;
}

.event-list-low {
    width: 100%;
    height: 64px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-flow: row;
}

.event-list-lowleft {
    width:35%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 1.5;
    text-align: left;
}

.event-list-lowmid {
    width:35%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 1.5;
    text-align: left;
}

.event-list-lowright {
    width:30%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 1.5;
    text-align: left;
}

.header {
    margin: 0;
    padding: 0px 20px 20px 20px;
    color: var(--text2);
    border-bottom: 3px solid var(--background3);
}

.form {
    padding-top: 20px;
    color: inherit;
}

.form-event {
    padding: 20px 0;
    color: inherit;
    width: 508px;
}

.form-event .form-left {
    display: inline-block;
    width: 48%;
    z-index: 100;
}

.form-event .form-right {
    position: relative;
    display: inline-block;
    width: 48%;
    float: right;
    z-index: 99;
}

.form-control {
    margin-bottom: 0px;
    padding-bottom: 20px;
    position: relative;  
}

.form-control label {
    display: inline-block;
    margin-bottom: 8px;
}

.form-control input {
    border: 3px solid var(--decoration1);
    border-radius: 8px;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: var(--background2);
    color: var(--text1);
}

.form-control ::placeholder {
    color: var(--text1);
}

.custom-file-upload {
    background-color: #415f5f;
    border: 3px solid var(--decoration1);
    color: #c6cfcf;
    display: inline-block;
    width: 50%;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    margin-bottom: 24px;
}

.form-control textarea {
    border: 3px solid var(--decoration1);
    color: var(--text1);
    background-color: var(--background2);
    border-radius: 8px;
    display: block;
    font-family: inherit;
    width: 100%;
    height: 160px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

.form-control a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text2);
}

.form-control a:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: underline;
}

button {
    background-color: var(--background3);
    border: 2px solid var(--background1);
    color: var(--text1);
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    margin: 20px 0;
    cursor: pointer;
}

button:hover {
    filter: brightness(125%);
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success textarea {
    border-color: #2ecc71;  
}

.form-control.error textarea {
    border-color: #e74c3c;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;    
}

.form-control.success small {
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}

.success-message h4 {
    color:var(--text1);
    width: 100%;
    text-align: center;
    visibility: hidden;
}

.success-message.success h4 {
    color:var(--text1);
    visibility: visible;
}

.success-message.error h4 {
    color: red;
    visibility: visible;
}

/* ======== EVENT VIEW ADMIN ======== */

.event-box {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
}

.event-box-admin {
    width: 89%;
    display:inline-block;
    left:0;
}

.event-box-admin2 {
    width: 10%;
    height: 100%;
    display:inline-block;
    right: 0;
}

.form-link-btn {
    width: auto;
    display: block;
}

.view-event-form {
    width: auto;
    display: block;
}

.link-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--text2);
    padding: 16px 16px;
    margin: 0px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

.link-btn:hover {
    filter:brightness(125%);
    color: var(--text1)
}

.view-event-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--text2);
    padding: 16px 16px;
    margin: 0px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    width: auto;
}

.view-event-btn:hover {
    filter:brightness(125%);
    color: var(--text1)
}

.view-user-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--text2);
    padding: 16px 16px;
    margin: 0px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    width: auto;
}

.view-user-btn:hover {
    filter:brightness(125%);
    color: var(--text1)
}

.link-btn:hover {
    filter:brightness(125%);
    color: var(--text1)
}

#link-btn-small {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--text2);
    padding: 8px 8px;
    margin: 0px;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    width: auto;
}

.link-btn-small {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--text2);
    padding: 8px 8px;
    margin: 0px;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    width: auto;
}

#link-btn-small:hover {
    filter:brightness(125%);
    color: var(--text1);
    text-decoration: underline;
}



/* ======== USER LIST ADMIN ======== */

.user-box-admin {
    width: 100%;
    display: inline-flex;
    flex-flow: row;
}

.user-box-left {
    width: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.user-box-mid {
    width:100%;
    display: flex;
    flex-flow: column;
}

.user-box-right {
    width:0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.user-box-midtop {
    width: 100%;    
    height:48px;
    display:flex;
    justify-content: left;
    align-items: center;
    line-height: 48px;
    text-align: justify;
    padding: 0;
    margin: 8px 8px;
}

.user-box-midtop img {
    margin: 0;
    display:inline-block;
    max-width: 48px;
    max-width: 48px;
    border-radius:24px;
}

.profile-view-top .view-user-btn {
    padding: 0px;
    margin: 0px 16px;
    width: auto;
    display: inline-block;
}

.user-box-midbot {
    width: 100%;    
    height:70px;
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: var(--text1);
    padding: 10px 10px;
    margin: 0;
    background-color: var(--background3);
    border-radius: 8px;
    border: 2px solid var(--decoration1);
    font-size: 14px;
}

.user-box-midbot2 {
    width: 100%;    
    height:32px;
    display:flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text1);
    padding: 10px 0;
    margin: 0;
}

.user-box-midbot-left {
    width: 40%;
    height: 100%;
    display:flex;
    flex-flow: row;
}

.user-box-midbot-mid {
    width: 35%;
    height: 100%;
    display:flex;
    flex-flow: row;
}

.user-box-midbot-right {
    width: 25%;
    height: 100%;
    display:flex;
    flex-flow: row;
}

.left-box {
    width: 33%;
    text-align: right;
    display:flex;
    flex-flow: column;
    flex-wrap: nowrap;
}

.right-box {
    width:66%;
    text-align: left;
    display:flex;
    flex-flow: column;
    flex-wrap: nowrap;
}

p1 {
    text-align: left;
    padding-left: 8px;
    font-size: 12px;
}

p2 {
    text-align: right;
    font-size: 12px;
}

/* ======== EVENT LIST ======== */

.event-item-header {
    width: auto;
    display: block;
}

.event-item-header h3 {
    width: 100%;
    font-size: 20px;
    display: inline-block;
    color: var(--text2);
    margin: 0;
    padding: 16px 0;
    text-align: center;
}

#mid-column p {
    color: var(--text1);
    padding: 20px 20px;
    margin: 0;
    display: block;
    width: auto;
    background-color: var(--background3);
    border-radius: 8px;
    border: 2px solid var(--decoration1);
    font-size: 14px;
    margin-bottom: 16px;
}
  
 small {
    color: var(--text2);
    padding: 8px 24px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

/* ======== EVENT VIEW ======== */

.event-view-box {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
}

#event-view-main {
    margin: 20px 0;
}

#event-view-lowmid {
    margin: 20px 0;
}

#event-view-low {
    margin: 20px 0;
    width: 100%;
    display:flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.event-view-low-left {
    width:45%;
    left:0;
}

.event-view-low-right {
    width:45%;
    right:0;
}

#attend-info {
    width: 100%;
    margin: 20px;
    padding: 10px;
    display: flex;
    height: 41.6px;
    margin: 20px 0;
    justify-content: center;
}

#event-attendees {
    font-size: 16px;
    padding: 0;
}

.event-view-box p {
    color: var(--text1);
    padding: 20px 20px;
    margin: 0;
    display: block;
    width: auto;
    background-color: var(--background3);
    border-radius: 8px;
    border: 3px solid var(--decoration1);
    font-size: 14px;
}
  
  .event-view-box small {
    color: var(--text2);
    padding: 8px 24px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

#mapid {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#indoors-label{
    display: block;
}

#file-upload {
    padding:0;
}

#form-submit-image {
    padding: 0;
    padding-top: 20px;
}

#delete-profile-image {
    padding: 0;
    padding-top: 20px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 3px solid var(--decoration1);
  background: var(--background2);
  border-radius: .2em;
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
  -webkit-transition: all .275s;
      transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✕';
  position: absolute;
  top: .525em;
  left: .18em;
  font-size: 1.375em;
  color: #CB22ED;
  line-height: 0;
  -webkit-transition: all .2s;
      transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
}

.fade-out {
    animation: fadeOut ease-in 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity:1;
    filter:blur(0px);
  }
  100% {
    opacity:0;
    filter:blur(10px);
    visibility:hidden;
  }
}