* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #501F3A;
    color: #14A098;
}

nav {
    width: 100%;
    height: 48px;
    background-color: #0F292F;
    position: fixed;
    display: block;
    margin: 0;
    z-index: 999;
}

ul {
    margin-left: 64px;
    height: 100%;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 48px;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #14A098;
    padding: 0 20px;
    display: block;
}

ul li a:hover {
    /*background-color: #1f4443;*/
    background-color: #0F292F;
    filter: brightness(150%);
}

.left-field {
    display: block;
    position: fixed;
    min-height: 100vh;
    margin: 48px 0 0 0;
    width:360px;
    height:auto;
}

.event-list {
    margin: 0 auto 0 360px;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 360px);
    min-width: 400;
    min-height: 100vh;
    padding-top: 48px;
}

.container {    
  background-color: #0F292F;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
  overflow: hidden;
  width: auto;
  max-width: 100%;
  min-width: fit-content;
  margin: 16px;
}

.header {
  margin: 0px 40px;
  padding: 20px 0px;
  color: inherit;
  border-bottom: 3px solid #1f4443;
}

.form {
  padding: 20px 40px;
  color: inherit;
}

.form-event {
    padding: 20px 40px;
    color: inherit;
    width: 600px;
}

.form-event .form-left {
    display: inline-block;
    width: 256px;
    z-index: 100;
}

.form-event .form-right {
    position: relative;
    display: inline-block;
    width: 256px;
    float: right;
    z-index: 99;
}

.form-control {
  margin-bottom: 0px;
  padding-bottom: 20px;
  position: relative;  
}

.form-control label {
  display: inline-block;
  margin-bottom: 8px;
}

.form-control input {
  border: 3px solid #CB2D6F;
  border-radius: 8px;
  display: block;
  font-family: inherit;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  background-color: #0F292F;
  color: #14A098;
}

/*.form-control input:required + span:after {
    color:#CB2D6F;
    font-size: 16px;
    content:"*";
}*/

.form-control ::placeholder {
    color: #14A098;
}

.custom-file-upload {
  background-color: #415f5f;
  border: 2px solid #CB2D6F;
  color: #c6cfcf;
  display: inline-block;
  width: 50%;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  margin-bottom: 24px;
}

.form-control textarea {
    border: 3px solid #CB2D6F;
    color: #14A098;
    background-color: #0F292F;
    border-radius: 8px;
    display: block;
    font-family: inherit;
    width: 100%;
    height: 160px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

button {
  background-color: #14A098;
  border: 2px solid #14A098;
  color: #0F292F;
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  margin-bottom: 24px;
}

button:hover {
    filter: brightness(150%);
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success textarea {
  border-color: #2ecc71;  
}

.form-control.error textarea {
  border-color: #e74c3c;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;    
}

.form-control.success small {
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.success-message h4 {
    color:#14A098;
    width: 100%;
    text-align: center;
    visibility: hidden;
}

.success-message.success h4 {
    color:#14A098;
    visibility: visible;
}

.success-message.error h4 {
    color: red;
    visibility: visible;
}

.event-box {
    width: 100%;
    min-width: 400px;
    padding: 16px 24px;
}

.event-box .form-link-btn {
  width: auto;
  display: block;
}

.event-box .link-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  color: #14A098;
  padding: 0px 32px 16px 32px;
  margin: 0px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  width: 100%;
}

.event-box .link-btn:hover {
  filter:brightness(150%);
}

.event-box p {
    color: #14A098;
    padding: 20px 20px;
    margin: 0px 24px;
    display: block;
    width: auto;
    background-color: #0F292F;
    border-radius: 8px;
    border: 3px solid #CB2D6F;
    font-size: 14px;
    margin-bottom: 16px;
  }
  
  .event-box small {
    color: #CCCCCC;
    padding: 8px 0px 8px 32px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
  }